 /* .listaSearchInput {
   display: flex;
   height: 30px;
   border: 10px solid #ccc;
   border-radius: 20px;
   width: 100%;
   margin-bottom: 20px;
   padding: 0 10px;
   font-size: 16px;


 } */

